$lightGreen :rgba(124, 236, 167, 0.933);

.app{
     display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        .link{
            text-decoration: none;
            color:inherit;
            margin-right:4px
        }
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:$lightGreen;
            height: 100vh;
            

            h1{
                font-size: 20px;
                margin-bottom: 20px;
                color: teal;
            }
            form{
                display: flex;
                flex-direction: column;
                padding:50px;
                width: 200px;
                gap: 10px;
                background-color: #fff;
               
                input{
                    border: none;
                    border-bottom:2px solid gray ;
                    padding:10px;
                    outline: none;
                }

                button{
                    padding: 10px;
                    background-color: teal;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    color: #fff;
                }
                p{
                    color: red;
                    text-align: center;
                    font-size: 12px;
                }
            
                span{
                    text-align: center;
                }
            }
        }


        // NAVBAR
    .navbar{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            .logo{
                img{
                    width: 120px;
                }
            }
            .links{
                display: flex;
                gap: 10px;
                align-items: center;
                link{
                    h6{
                        font-size: 16px;
                        font-weight: 200;
                    } 
                }

                span{
                    cursor: pointer;
                  }
                  .write{
                    background-color: $lightGreen;
                    width: 50px;
                    height: 50px;
                    padding: 4px;
                    border-radius:50% ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    border: 1px solid #fff;

                    &:hover{
                        color: teal;
                        background-color: #fff;
                        border: 1px solid teal;
                    }
                  }
                 
            }
        }
    }

    }
}